bin/
obj/
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
bin/*/*.exe
*.pdb
*.pidb
*.user
*.aps
*.pch
*.docstates
*.vspscc
*_i.c
*.testsettings
*_p.c
*.ncb
*.suo
*.vsmdi
*.tlb
*.dbmdl
*.schemaview
*.tlh
*.bak
*.cache
*.ilk
*.log
*.ReSharper
[Bb]in
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.docstates
seq diagram1.png
StyleCop.Cache
[sS]ettings.[sS]tyle[cC]op
/tools/[cC]ode[aA]nalysis/
/tools/[sS]tyle[cC]op/
seq diagram1.vsd
*.swp
*.*~
_NCrunch*/
*.DotSettings
*.ReSharper.*
#*.dotCover - The Configuration of unit test exclusions should be shared
*.orig
*.dotCover
NDependOut/
*.ndproj
_temp
**packages/
*.nupkg
*.stderr
*.stdout
.vs/
